<%= link_to "https://yardoc.org", title: "Learn More About YARD", id: "learn_yard" do %>
  <%= image_tag "learn.png", alt: "Learn More About YARD" %>
<% end %>
<div class="header">
  <div id="logo">
    <h1><a href="/"><%= h settings.name %></a> <small>YARD Documentation Server</small></h1>
  </div>
  <div id="top_nav">
    <% if controller_name == "github" %>
      <%= link_to "Add Project", add_github_project_path, data: { turbo_frame: "modal" }  %>
    <% end %>
    <%= link_to "About", about_path, data: { turbo_frame: "modal" } %>
    <% if settings.integrations.tender.present? %>
      <%= link_to "Help", help_path, data: { turbo_frame: "modal" } %>
    <% end %>
  </div>
</div>
