<title><%= h page_title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= h page_description %>" />
<% if @search %>
  <meta name="robots" content="noindex, nofollow">
<% else %>
  <meta name="robots" content="index, follow">
<% end %>
<link rel="canonical" href="<%= request.original_url %>">
<meta property="og:title" content="<%= h page_title %>">
<meta property="og:description" content="<%= h page_description %>">
<meta property="og:image" content="<%= URI(request.original_url).tap { it.path = "/favicon.ico" }.to_s %>">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:type" content="website">
