<% if controller_name == "github" && has_featured? %>
  <h2>Featured Libraries Listing</h2>
  <div class="libraries">
    <%= render partial: "shared/library", collection: featured_libraries %>
  </div>
<% end %>
<h2>
  <%= h @search ? @page_description : "#{@title} Listing" %>
  <% if @search %>
    <span class="small">(<%= link_to "Back to Listing", controller: controller_name %>)</span>
  <% end %>
</h2>
<%= render "shared/alpha_index" if @has_alpha_index %>
<%= render "shared/pagination" if @pagy %>
<% if @exact_match %>
  <h3>Exact match</h3>
  <div class="libraries">
    <%= render partial: "shared/library", collection: [@exact_match] %>
  </div>
  <h3>All matches</h3>
<% end %>
<div class="libraries">
  <% if @collection.empty? %>
    <div class="row">No matches found.</div>
  <% end %>
  <%= render partial: "shared/library", collection: @collection %>
</div>
<%= render "shared/pagination" if @pagy %>
