<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>
  <body>
    <div class="nav_wrap">
      <iframe id="nav" src="<%= @nav_url %>"></iframe>
      <div id="resizer"></div>
    </div>

    <div id="main" tabindex="-1">
      <div id="header">
        <esi:include id="inc-header" src="/inc/header"></esi:include>

        <style type="text/css" media="screen">
          #learn_yard { display: none; }
          #rubydoc_top_nav { right: 230px; }
          @media (max-width: 920px) {
            #rubydoc_header, #rubydoc_top_nav {
              display: none;
            }
        </style>

        <%= erb(:breadcrumb) %>
        <%= erb(:search) %>
        <div class="clear"></div>
      </div>

      <iframe id="search_frame" src="<%= @nav_url %>"></iframe>

      <div id="content"><%= yieldall %></div>

      <%= erb(:footer) %>
    </div>
  </body>
</html>
