<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
    <style type="text/css" media="screen">
      body { display: block; overflow: auto; }
      .yard {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        height: 100%;
      }
      #rubydoc_header_container {
        background: #05a;
        padding: 12px;
      }
      #rubydoc_logo h1 a { color: #fff; }
      #rubydoc_logo h1 small { color: #eee; }
      #learn_yard { display: none; }
      #rubydoc_info { right: 12px !important; top: 50px !important; }
      #rubydoc_top_nav { right: 0 !important; top: 6px !important; }
      #main #header form { margin-top: -1px; }
      @media (max-width: 920px) {
        #rubydoc_header_container {
          padding: 0;
          height: auto;
        }
        #rubydoc_header, #rubydoc_top_nav {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div id="rubydoc_header_container">
      <esi:include id="inc-header" src="/inc/header"></esi:include>
    </div>
    <div class="yard">
      <div class="nav_wrap">
        <iframe id="nav" src="<%= @nav_url %>"></iframe>
        <div id="resizer"></div>
      </div>

      <div id="main" tabindex="-1">
        <div id="header">
          <%= erb(:breadcrumb) %>
          <%= erb(:search) %>
          <div class="clear"></div>
        </div>

        <iframe id="search_frame" src="<%= @nav_url %>"></iframe>

        <div id="content"><%= yieldall %></div>

        <%= erb(:footer) %>
      </div>
    </div>
  </body>
</html>
