<% if !@search %>
  <ul class="alpha_index">
    <% (?a..?z).each do |letter| %>
      <% if letter == @letter %>
        <li class="selected"><%= letter.upcase %></li>
      <% else %>
        <li><a href="/<%= @adapter.router.docs_prefix %>/~<%= letter %>"><%= letter.upcase %></a></li>
      <% end %>
    <% end %>
    <% if @adapter.router.docs_prefix != 'gems' %>
      <li><a href="/<%= @adapter.router.docs_prefix %>">Latest</a></li>
    <% end %>
  </ul>
<% end %>
