<script type="text/javascript" charset="utf-8">
  $(function() { saveIndex('featured'); });
</script>

<div id="content">
  <nav>
  <ul id="navigation">
    <li class="selected">Featured</li>
    <li><a href="/stdlib">Stdlib</a></li>
    <li><a href="/gems">RubyGems</a></li>
    <li><a href="/github">GitHub</a></li>
  </ul>
  </nav>

  <h2>Featured Libraries <small>(<a class="framelink" href="#">links without frames</a>)</small></h2>
  <ul class="libraries">
    <% @featured.each do |name, library_versions| %>
    <li class="r<%= @row = @row == 1 ? 2 : 1 %>">
      <% library_versions = library_versions.dup %>
      <% first_lib = library_versions.pop %>
      <a href="/<%= first_lib.source == :remote_gem ? 'gems' : 'docs' %>/<%= first_lib.name %>/frames"><%= name %></a>
      <% if first_lib && first_lib.version %>
        <small>(<%= first_lib.version %><% if library_versions.size > 0 %>,
          <%= library_versions.reverse[0..3].map {|lib| "<a href=\"/#{lib.source == :remote_gem ? 'gems' : 'docs'}/#{lib}/frames\">#{lib.version}</a>" }.join(', ') %><% end %>)</small>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>