<div id="content">
  <nav>
  <ul id="navigation">
    <li><a href="/featured">Featured</a></li>
    <li><a href="/stdlib">Stdlib</a></li>
    <% if @search %>
      <li><a href="/gems">RubyGems</a></li>
    <% else %>
      <li class="selected">RubyGems</li>
    <% end %>
    <li><a href="/github">GitHub</a></li>
    <li class="search"><form action="/find/gems" method="GET"><input type="text" id="docSearch" name="q" value="<%= h @search %>" placeholder="Search Gems"/></form></li>
  </ul>
  </nav>
  <h2>RubyGems <%= h @search ? "Search Results for '#{@search}'" : 'Listing' %> <% if @search %><span class="small">(<a href="/<%= @adapter.router.docs_prefix %>">Back to Listing</a>)</span><% end %></h2>

  <%= erb :alpha_index %>
  <%= erb :pagination %>

  <% if @search && (exact_match = @libraries.find { |k,_| k == @search }) %>
    <h3>Exact match</h3>
    <ul class="libraries">
      <li class="r1">
        <% library_versions = exact_match[1].dup %>
        <% first_lib = library_versions.pop %>
        <a href="#/<%= @adapter.router.docs_prefix %>/<%= h first_lib.name %>"><%= h exact_match[0] %></a>
        <% if first_lib && first_lib.version %>
          <small>(<%= h first_lib.version %><% if library_versions.size > 0 %>,
            <%= library_versions.reverse[0..3].map {|lib| "<a href=\"#/#{@adapter.router.docs_prefix}/#{lib}\">#{lib.version}</a>" }.join(', ') %><% end %>)</small>
        <% end %>
      </li>
    </ul>

    <h3>All matches</h3>
  <% end %>

  <ul class="libraries">
    <% if @libraries.count == 0 %>
    <li>No matches found.</li>
    <% end %>

    <% @libraries.sort_by {|name, _| name.downcase }.each do |name, library_versions| %>
    <li class="r<%= @row = @row == 1 ? 2 : 1 %>">
      <% library_versions = library_versions.dup %>
      <% first_lib = library_versions.pop %>
      <a href="#/<%= @adapter.router.docs_prefix %>/<%= h first_lib.name %>"><%= h name %></a>
      <% if first_lib && first_lib.version %>
        <small>(<%= h first_lib.version %><% if library_versions.size > 0 %>,
          <%= library_versions.reverse[0..3].map {|lib| "<a href=\"#/#{@adapter.router.docs_prefix}/#{lib}\">#{lib.version}</a>" }.join(', ') %><% end %>)</small>
      <% end %>
    </li>
    <% end %>
  </ul>

  <%= erb :pagination %>
</div>

<script type="text/javascript" charset="utf-8">
  $('.libraries a').each(function() {
    var href = $(this).attr('href');
    if (href.substr(0, 2) == "#/") {
      $(this).attr('href', href.substr(1));
    }
  });

  $(function() { saveIndex('gems'); });
</script>
