<style type="text/css" media="screen">
  #libraries ul { background: #eee; }
  #libraries { list-style: none; }
  #libraries li { line-height: 2em; border-bottom: 1px solid #ddd; }
  #libraries ul li { padding-bottom: 6px; background: #f0f0f0; }
  #libraries ul { padding-bottom: 10px; background: transparent; }
  #libraries li:hover { background: #eef; }
  #libraries li.alternate, #libraries li.alternate:hover { background: transparent; }
  #libraries li a:hover { background: transparent; color: #3ae; }
</style>

<div id="content">
  <ul id="nav">
    <li><a href="/gems">RubyGems</a></li>
    <li class="selected">Github</li>
    <li class="search"><form action="/find/github" method="GET"><input type="text" id="docSearch" name="q" value="<%= @search || 'Search Projects' %>"/></form></li>
  </ul>
  <h2>Recently Updated Github Projects <small>(<a id="framelink" href="#">links without frames</a>)</small></h2>
  <ul class="alpha_index">
    <% (?a..?z).each do |letter| %>
      <li><a href="/github/<%= letter %>"><%= letter.upcase %></a></li>
    <% end %>
    <li class="selected">Latest</li>
  </ul>

  <%= erb :checkout, :layout => false %>
  <ul id="libraries">
    <% if @libraries.size == 0 %>
      <li>No projects match your criteria. You can generate new docs from the sidebar.</li>
    <% end %>
    <% @libraries.each do |lib| %>
      <% latest_version = lib.versions.first %>
      <li>
        <a href="/<%= @adapter.router.docs_prefix %>/<%= latest_version %>/frames"><strong><%= lib.name %></strong></a> 
        <small>(<%= latest_version.version %>)</small>
      </li>
    <% end %>
  </ul>
  
</div>

