<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= h settings.name %>: Documenting RubyGems, Stdlib, and GitHub Projects</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/projects.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/project_checkout.js"></script>
    <script type="text/javascript">
      function searchClick() {
        searchPrompt = $('#docSearch').val();

        $('#docSearch').focus(function() {
          if ($(this).val().match(/^Search/)) {
            $(this).val('');
          }
        });
        $('#docSearch').blur(function() {
          if ($(this).val() == '') {
            $(this).val(searchPrompt);
          }
        });
      }

      function reloadProject() {
        $('.libraries .project_reload').click(function() {
          var proj = $(this).parent().find('a:first-child').text();
          $('#url').val("git://github.com/" + proj);
          $('#commit').val('');
          $('#rubydoc_checkout_form').submit();
          $(this).find('img').attr('src', '/images/loading.gif');
          return false;
        });
      }

      function saveIndex(url) {
        var date = new Date();
        date.setDate(date.getDate() + (url == '' ? -999 : 99999));
        document.cookie = "defaultIndex=" + escape(url) + ";expires=" + date.toUTCString();
      }

      $(searchClick);
      $(reloadProject);
    </script>
  </head>
  <body>
    <%= erb(:header) %>
    <%= yield %>
    <%= erb(:footer) %>
  </body>

  <% if defined? settings.clicky %>
    <script src="http://static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">clicky.init(<%= settings.clicky %>);</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/<%= settings.clicky %>ns.gif" /></p></noscript>
  <% end %>

  <% if defined? settings.google_analytics %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= settings.google_analytics %>', 'auto');
    ga('send', 'pageview');
    </script>
  <% end %>
</html>
