<div id="content" class="scm fof">
  <h1>Oops,</h1>
  <% if options.scm_adapter.libraries.has_key?(@username + '/' + @project) %>
    <h2 class="nomargin">We Couldn't Find That Page</h2>
    <p>Sorry, but we couldn't find the page <strong><%= request.path %></strong> in the <strong><%= @username %>/<%= @project %></strong> Github repository. Are you sure that class, method, or file exists?</p>
  <% else %>
    <h2 class="nomargin">We Couldn't Find That Github Project</h2>
    <p>We haven't generated any docs for <strong><%= @username %>/<%= @project %></strong>. You can add the project yourself by entering the Github project information below.
      You can also see a list of available projects <a href="/github">here</a>.</p>
    <script type="text/javascript" charset="utf-8">
      $(function() { $('#url').val('git://github.com/<%= @username %>/<%= @project %>'); });
    </script>

    <%= erb :checkout, :layout => false %>
  <% end %>
</div>