<script type="text/javascript" charset="utf-8">
  $(function() { saveIndex('stdlib'); });
</script>

<div id="content">
  <nav>
  <ul id="navigation">
    <li><a href="/featured">Featured</a></li>
    <li class="selected">Stdlib</li>
    <li><a href="/gems">RubyGems</a></li>
    <li><a href="/github">GitHub</a></li>
  </ul>
  </nav>

  <h2>Ruby Standard Library <small>(<a class="framelink" href="#">links without frames</a>)</small></h2>
  <ul class="libraries">
    <% @stdlib.sort_by {|n| n[0] == "core" ? '_' : n[0].downcase }.each do |name, library_versions| %>
    <li class="r<%= @row = @row == 1 ? 2 : 1 %> <% if name == "core" %>core<% end%>">
      <% library_versions = library_versions.dup %>
      <% first_lib = library_versions.pop %>
      <a href="/stdlib/<%= first_lib.name %>/frames"><%= name %></a>
      <% if first_lib && first_lib.version %>
        <small>(<%= first_lib.version %><% if library_versions.size > 0 %>,
          <%= library_versions.reverse[0..3].map {|lib| "<a href=\"/stdlib/#{lib}/frames\">#{lib.version}</a>" }.join(', ') %><% end %>)</small>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
