<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || Rubydoc.config.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/favicon.ico`" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.ico`">
    <% if request.path.starts_with? "/list" %>
      <link rel="stylesheet" href="/assets/css/full_list.css" type="text/css" media="screen" charset="utf-8" />
    <% else %>
      <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen" charset="utf-8" />
      <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="screen" charset="utf-8" />
    <% end %>
    <link rel="stylesheet" href="/assets/css/common.css" type="text/css" media="screen" charset="utf-8" />
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
